html {
    background-color: #000;
    color: #fff;
}

/*#container{*/
/*    margin: auto;*/
/*    align-items: center;*/
/*}*/
#header {
    text-align: center;
    font-size: 30px;
    height: 20%;
}

#content {
    width: 40%;
    margin: auto;
    height: 80%;

}

.todo {
    display: flex;
    flex-wrap: wrap;
}

.checkbox {
    border: #fff 3px solid;
    width: 20px;
    height: 20px;
}

.checkbox:hover {
    background-color: #fff;
    transition: 0.2s;
}

.taskName {
    font-size: 24px;
    margin-left: 10px;
    width: calc(100% - 36px);
}

.descprition {
    font-size: 18px;
    margin-left: 40px;
    margin-top: 4px;
    margin-bottom: 15px;
}

/*.tick{*/
/*    background-color: #fff;*/
/*    opacity: 0;*/
/*}*/
/*.tick:hover{*/
/*    opacity: 1;*/
/*    transition: 0.2s;*/
/*}*/

