<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>TODO List by Michał Grzona</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div id="container">
    <div id="header">
        <h1>TO DO LIST</h1>
    </div>
    <div id="content">
<!--        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu erat, finibus sed dui eget, vehicula-->
<!--        condimentum-->
<!--        dui. Proin at felis dignissim, maximus diam sit amet, mattis lectus. Nulla facilisi. Integer vehicula velit vel-->
<!--        justo eleifend, at vehicula sem tincidunt. Nulla facilisi. Vivamus semper quis tortor at volutpat. Curabitur eu-->
<!--        nisl-->
<!--        lacus. Proin justo enim, pulvinar aliquam tristique ac, laoreet fermentum lectus. Donec aliquam non dolor id-->
<!--        vestibulum. Duis fermentum orci metus, ut tempus leo condimentum a. Mauris blandit in nibh ac sagittis. Sed sed-->
<!--        quam-->
<!--        scelerisque, tincidunt massa nec, porta nulla. Integer ullamcorper bibendum justo, id scelerisque massa mollis-->
<!--        non.-->
<!--        Mauris aliquam lectus et ante viverra, nec pellentesque est porttitor. Maecenas ornare dui sed sodales maximus.-->

<!--        Pellentesque pharetra, augue in vestibulum lacinia, mi mi fringilla lorem, sit amet aliquet nunc arcu at diam.-->
<!--        Phasellus lobortis tellus sit amet enim scelerisque tincidunt. Curabitur ipsum libero, finibus ut commodo vitae,-->
<!--        blandit quis nulla. Sed in quam id arcu ullamcorper fermentum. Etiam nec molestie lacus, porta bibendum nulla.-->
<!--        Curabitur vel nisl in ligula varius viverra. Suspendisse aliquet et turpis at condimentum. Donec pellentesque-->
<!--        nunc-->
<!--        non faucibus maximus. Aliquam ipsum velit, molestie eu aliquam tempus, ornare a lectus.-->

<!--        Vestibulum consequat mauris non leo bibendum, et congue leo rhoncus. Pellentesque lacinia nunc ac lorem finibus,-->
<!--        mollis fringilla felis condimentum. Sed hendrerit enim non mi luctus, quis fringilla diam finibus. Donec-->
<!--        efficitur-->
<!--        tellus sit amet aliquet imperdiet. Suspendisse in sapien sit amet lacus tempus condimentum non efficitur nunc.-->
<!--        Duis-->
<!--        fermentum in mi sed placerat. Sed sollicitudin nec eros eget molestie.-->
    <div class="todo">
        <div class="checkbox"></div> <div class="descprition">- description</div>
    </div>
    </div>
</div>
</body>
</html>