<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/background.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form class="login-form" method="post" action="/login">
        <header>Login</header>
        <label for="emial">E-mail</label>
        <input id=emial type="text" name="username"/>
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
        <button class="submit" type="submit">login</button>
    </form>
</div>
<script src="../js/stars.js"></script>
</body>
</html>