<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User registration</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="container">
    <header>
        Registration
    </header>
    <form class="registration-form">
        <label for="username">Username</label>
        <input type="text" id="username"/>

        <label for="email">e-mail</label>
        <input type="text" id="email"/>

        <label for="password">Password</label>
        <input type="text" id="password"/>

        <label for="repeat-password">Repeat password</label>
        <input type="text" id="repeat-password"/>

        <button class="submit">register</button>
    </form>
</div>
<script src="../js/registration.js"></script>
<script src="../js/stars.js"></script>
</body>
</html>